#
#  OnMyShelf environment config
#

# HTTP port
# You can specify an IP address to bind (e.g. 127.0.0.1:8080 to listen only on loopback)
HTTP_PORT=8080

# Log level
#LOGGER_LEVEL=INFO

# Log file
#LOGFILE=/var/log/onmyshelf/onmyshelf.log

# Specify a version to use (leave empty to use latest official version)
#VERSION=

# Read only mode (useful for demos)
#READ_ONLY=false
