#
#  OnMyShelf environment config
#

# HTTP port
# You can specify an IP address to bind (e.g. 127.0.0.1:8080 to listen only on loopback)
HTTP_PORT=8035

# OnMyShelf public URL
# e.g. https://collections.example.com
#OMS_URL=

# Emails sent from address
#EMAIL_FROM=

# SMTP config
#SMTP_SERVER=
#SMTP_PORT=465
#SMTP_USER=
#SMTP_PASSWORD=

# Log level
#LOGGER_LEVEL=INFO

# Log file
#LOGFILE=/var/log/onmyshelf/onmyshelf.log

# Specify a version to use (leave empty to use latest official version)
#VERSION=

# Development mode (enabled cross-origin requests)
#DEV_MODE=false

# Read only mode (for demo instances)
#READ_ONLY=false
